.img-magnifier-container {
	position: relative;
	overflow-y: hidden;
}

.magnifier-cont {
	width: 100%;
	max-height: 435px;
	min-height: 435px;
	min-width: 580px;
	/* height: 80vh; */
}

.magnifier-image {
	width: 180px;
	height: 180px;
	border: 2px solid #fff;
}

.magnifier-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 375px) {
	.magnifier-cont {
		width: 100%;
		min-height: 240px;
		max-height: 240px;
	}
}
@media screen and (max-width: 425px) {
	.magnifier-cont {
		width: 100%;
		min-height: 240px;
		max-height: 240px;
	}
}

@media screen and (max-width: 590px) {
	.magnifier-cont {
		width: 100%;
		min-height: 240px;
		max-height: 240px;
		min-width: auto;
	}
}
