.btn {
	background: transparent;
	border: none;
	text-transform: uppercase;
	position: relative;
	transition: 0.3s ease;
}

.btn::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: #e3e3e3;
	transition: 0.1s ease;
	z-index: -1;
}

.btn:hover::after {
	height: 60%;
	transition-delay: 0.05s;
}
